
<div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="66.66%" fxLayout="column" fxLayoutGap="60px">
        <app-project-item
        [project]="project"
        [fontSize]="fontSize"
      ></app-project-item>
  </div>
  <div fxFlex="33.33%">
    <app-project-form
        [projectForm]="projectForm"
        style="width: 100%;"
      ></app-project-form>
      <mat-divider
        style="width: 100%; margin: 15px 0px 15px 0px;"
      ></mat-divider>
      <app-extract-color
        style="width: 100%;"
        (onPickedImage)="handlePickedImage($event)"
        (onPikedBackgroundColor)="handlePickedBackgroundColor($event)"
      ></app-extract-color>
  </div>
</div>
