<div
  style="width: 100%;"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <div style="width: 100%;" fxLayoutAlign="center">
    <input
      style="display: none;"
      type="file"
      (change)="onFileChange($event)"
      #file
    />
    <button
      mat-stroked-button
      color="primary"
      type="button"
      color="accent"
      (click)="addFile()"
    >
    <mat-icon>add_photo_alternate</mat-icon>
    </button>
  </div>
  <div style="width: 100%;" fxLayoutAlign="center center">
    <img src="" alt="" height="auto" width="66.66%" #image />
  </div>
  <div style="width: 100%;">
    <p *ngIf="color && palette">
      Pick a Background Color
    </p>
    <mat-grid-list cols="7" rowHeight="50px" *ngIf="color && palette">
      <mat-grid-tile
        [style.backgroundColor]="'#' + decimalToHexadecimal(color)"
        colspan="2"
        rowspan="2"
        (click)="onSelectColor(0, decimalToHexadecimal(color))"
        ><mat-icon
          *ngIf="selectdColorIndex == 0"
          [style.color]="'#' + textColor"
          >done</mat-icon
        ></mat-grid-tile
      >
      <mat-grid-tile
        colspan="1"
        rowspan="1"
        *ngFor="let rgb of palette; let i = index"
        [style.backgroundColor]="'#' + decimalToHexadecimal(rgb)"
        (click)="onSelectColor(i + 1, decimalToHexadecimal(rgb))"
        ><mat-icon
          *ngIf="selectdColorIndex == i + 1"
          [style.color]="'#' + textColor"
          >done</mat-icon
        ></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>
