<div [formGroup]="toolForm">
  <mat-form-field appearance="outline" floatLabel="always" fxFlex="100%">
    <mat-label>Tool</mat-label>
    <mat-select formControlName="name" (selectionChange)="onChange()">
      <mat-option *ngFor="let tool of toolsData" [value]="tool.name">
        <span>{{tool.name}}</span>

      </mat-option>
    </mat-select>
  </mat-form-field>
<!--   <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Please enter a description"
      formControlName="name"
      required
    />
    <mat-hint>Hint</mat-hint>
  </mat-form-field> -->
<!--   <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Image</mat-label>
    <input
      matInput
      placeholder="Please enter a description"
      formControlName="logoUrl"
      required
    />
    <mat-hint>Hint</mat-hint>
  </mat-form-field> -->
  <button mat-icon-button type="button" color="warn" (click)="emitToolIndex()">
    <mat-icon>close</mat-icon>
  </button>
</div>
