<!-- <mat-toolbar fxLayoutAlign="end" color="primary" style="z-index: 99;">

  <div style.height="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <a routerLink="/">PROJECTS</a>
    <a routerLink="/about">ABOUT ME</a>
    <a routerLink="/cv">RESUME</a>
    <a routerLink="/management">MANAGEMENT</a>
  </div>
</mat-toolbar> -->
<div style="width: 100%;min-height: 100vh;" fxLayoutAlign="center">
  <div fxFlex="1000px" fxLayoutGap="10px">
    <div fxFlex="15%">
      <mat-nav-list >
        <a mat-list-item routerLink="/">PROJECTS</a>
        <a mat-list-item routerLink="/about">ABOUT ME</a>
        <a mat-list-item routerLink="/cv">RESUME</a>
        <a mat-list-item routerLink="/management">MANAGEMENT</a>
     </mat-nav-list>
    </div>
    <div fxFlex="85%">
      <div style="height: 10px;"></div>
      <router-outlet></router-outlet>
      <div style="height: 10px;"></div>
    </div>
  </div>

</div>

